@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

:root {
    --bg-color: #1e1e1e;
    --main-color: #007acc;
    --caret-color: #569cd6;
    --sub-color: #4d4d4d;
    --sub-alt-color: #191919;
    --text-color: #d4d4d4;
    --error-color: #f44747;
    --error-extra-color: #f44747;
    --colorful-error-color: #f44747;
    --colorful-error-extra-color: #f44747;
}

body
{
    margin: 0;
    padding: 0;
    background-color: var(--main-color); 
    font-family: 'Hedvig Letters Sans', sans-serif;
    color: var(--text-color);
    overflow-y: hidden;
}

h1 
{ 
    text-align: center;
    font-size: 70px
}
h2{
    font-size: 50px;
    color: var(--sub-color);
}

h3{
    font-size: 30px;
}

#columns
{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100vh;
}

#leftColumn
{
    background-color: var(--bg-color);
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    border: 5px solid var(--sub-alt-color);
    box-sizing: border-box;
}

#rightColumn
{
    background-color: var(--bg-color);
    flex: 0.1;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: 5px solid var(--sub-alt-color);
    box-sizing: border-box;
    transition: 0.3s;
}

#rightColumn:hover
{
    flex: 1;

}

#brawlCoachContent
{
    visibility: hidden;
}

#rightColumn:hover #brawlCoachContent
{
    visibility: visible;
}

#navContainer
{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 60px;
}

#conventionalStats
{
    gap: 40px; 
    display: flex;
    width: 90%;
    justify-content: center;
   
}

.conventionalStatBox
{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 

}

.conventionalStatBox div
{
    background-color: var(--sub-alt-color); 
    border-radius: 10px;
    height: 120px; 
    width: 100%;
    padding-left: 20px;
    
}

#simpleBrawlers
{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.brawlerGroup
{
    /* display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px; */
    /* height: fit-content;  */
    margin-bottom: 10px;
    /* background-color: green; */
}
/* 
.brawlerCategory
{
    text-align: center;
} */